@import url("https://raw.githubusercontent.com/4Y44N-KH4L3D/Scriptly/c1989a99643923c8bff6f3441bc8be7036f94790/src/App.css");

/* Hero wordmark fix */
.hero-section::before {
  line-height: 1.05;
  padding-bottom: 5px;
  margin-bottom: 24px;
}
